body {
    background-color:#151515;
}

#navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
    color: #F4F4F4;
    font-family: 'Roboto', sans-serif;
}
#navBar h3 {
    position: fixed;
    text-align: left;
    font-weight: 500;
    color: #F4F4F4;
}
#navigation  {
    font-family: 'Sora';
    color: #F4F4F4;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
}
#navigation p4 { /* ABOUT*/
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #F4F4F4;
    position: fixed;
    width: 85px;
    height: 30px;
    left: 1220px;
    top: 60px;
    font-size: 20px;
}
#navigation p5 { /*SKILLS*/
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #F4F4F4;
    position: fixed;
    width: 85px;
    height: 30px;
    left: 1220px;
    top: 110px;
    font-size: 20px;
}
#navigation p6 { /*WORK*/
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #F4F4F4;
    position: fixed;
    width: 85px;
    height: 30px;
    left: 1220px;
    top: 155px;
    font-size: 20px;
}
#navLine {
    position: fixed;
    width: 0px;
    height: 117px;
    left: 1317px;
    top: 60px;
}
.icons {
    position: fixed;
    width: 40px;
    height: 40px;
    left: 1331px;
    top: 45px;

}
.icons img {
    margin: 2.5px;
    cursor: pointer;
}
.heroImg {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uxui {
    position: sticky;
    width: 690;
    margin: 100px;
    height: 335px;
    left: 380px;
}
.contact {
    position: fixed;
    width: 100px;
    height: 100px;
    left: 75px;
    top: 600px;
}
.smallCircle {
    position: fixed;
    width: 25px;
    height: 25px;
    left: 1300px;
    top: 685px;
}
.content {
    justify-content: center;
}
ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    color: #F4F4F4;
    font-family: 'Sora', sans-serif;
    font-weight: lighter;
    width: 85px;
    height: 30px;
    left: 1220px;
    top: 45px; 
}
.flexContainer {
    font-family: 'Roboto', sans-serif ;
    color: #F4F4F4;
}
.mySkills {
    color: #F4F4F4;
    font-family: 'Roboto', sans-serif;
}
.me { /*SELFIE*/
    position: absolute;
    width: 300px;
    height: 380px;
    left: 375px;
    top: 940px;
}
p { /*about me*/
    position: absolute;
    width: 430px;
    height: 393px;
    left: 695px;
    top: 987px;
    font-family: Sora;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 21px;
    color: #F4F4F4;
}
p1 {
    position: absolute;
    width: 188px;
    height: 157px;
    left: 295px;
    top: 2222px;
    font-family: Sora;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.04em; 
}
p2 {
    position: absolute;
    width: 190px;
    height: 157px;
    left: 625px;
    top: 2222px;
    font-family: Sora;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.04em;
}
p3 {
    position: absolute;
    width: 183px;
    height: 115px;
    left: 955px;
    top: 2222px;
    font-family: Sora;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.04em;
}
.workGrid { 
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color:#F4F4F4;
}
h2 { /*OUTLINED*/
    font-family: 'Roboto', sans-serif;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color:#F4F4F4;
    color: #151515;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.12em;
}
.HELLO {
    position: absolute;
    width: 249px;
    height: 75px;
    left: 695px;
    top: 875px;
}
.SKILLS {
    position: absolute;
    width: 287px;
    height: 74px;
    left: 569px;
    top: 1680px;
}
h6 { /*RESUME*/
    position: fixed;
    width: 147px;
    height: 28px;
    left: 20px;
    top: 235px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 28 px;
    letter-spacing: -0.025em;
    color: #F4F4F4;
    transform: rotate(-90deg);
}
.sitemap {
    position: absolute;
    width: 190px;
    height: 190px;
    left: 295px;
    top: 1862px;
}
.vector {
    position: absolute;
    width: 190px;
    height: 190px;
    left: 625px;
    top: 1862px;
}
.prototyping {
    position: absolute;
    width: 190px;
    height: 190px;
    left: 955px;
    top: 1862px;
}
h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.025em;
}
.info {
    position: absolute;
    width: 212px;
    height: 70px;
    left: 280px;
    top: 2093px;
}
.graphic {
    position: absolute;
    width: 126px;
    height: 70px;
    left: 653px;
    top: 2093px;
}
.wireframes {
    position: absolute;
    width: 198px;
    height: 70px;
    left: 947px;
    top: 2093px;    
}
.work {
    position: absolute;
    width: 241px;
    height: 76px;
    left: 291px;
    top: 2637px;
}
.vaycautious {
    position: absolute;
    width: 524px;
    height: 418px;
    left: 291px;
    top: 2820px;
}
.vaycautiousimg {
    position: absolute;
    width: 524px;
    height: 418px;
    left: 291px;
    top: 2820px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 ---------*/
    filter: grayscale(100%);
}
h4 { /*Small Outline*/
    font-family: 'Roboto', sans-serif;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color:#F4F4F4;
    color: #151515;
    font-size: 36px;
    letter-spacing: 0.105em;
}
p4 { /*WorkText*/
    font-family: Sora;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.smallVaycautious {
    position: absolute;
    width: 285px;
    height: 42px;
    left: 856px;
    top: 2765px;
}
.vaycautiousText {
    position: absolute;
    width: 304px;
    height: 107px;
    left: 840px;
    top: 2875px;
    text-align: right;
}
.smallBvb {
    position: absolute;
    width: 246px;
    height: 42px;
    left: 295px;
    top: 3447px;
}
.bvbText {
    position: absolute;
    width: 305px;
    height: 114px;
    left: 295px;
    top: 3557px;
    text-align: left;
}
.bvb {
    position: absolute;
    width: 524px;
    height: 419px;
    left: 625px;
    top: 3500px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 ---------*/
    filter: grayscale(100%);
}
.choosine {
    position: absolute;
    width: 520px;
    height: 418px;
    left: 295px;
    top: 4186px;
}
.choosineimg {
    position: absolute;
    width: 520px;
    height: 418px;
    left: 295px;
    top: 4186px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 ---------*/
    filter: grayscale(100%);
}
.smallChoosine {
    position: absolute;
    width: 208px;
    height: 42px;
    left: 941px;
    top: 4133px;
}
.choosineText {
    position: absolute;
    width: 304px;
    height: 112px;
    left: 845px;
    top: 4243px;
    text-align: right;
}
.smallBlue {
    position: absolute;
    width: 255px;  
    height: 84px;
    left: 295px;
    top: 4814px;
}
.bluebonnetText {
    position: absolute;
    width: 300px;
    height: 112px;
    left: 295px;
    top: 4977px;
}
.bbc {
    position: absolute;
    width: 524px;
    height: 419px;
    left: 625px;
    top: 4866px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 ---------*/
    filter: grayscale(100%);
    padding-bottom: 180px;
}
p0 {
position: absolute;
width: 155px;
height: 23px;
left: 1042px;
top: 5393px;
font-family: Sora;
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 18px;
letter-spacing: 0.04em;
color: #FFFFFF
}